RewriteEngine On

<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteCond %{HTTP_HOST} ^www.sample\.jp$ [NC]
RewriteRule ^(.*)$ https://sample.jp/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^sample\.jp [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://sample.jp/$1 [R=301,L]

ErrorDocument 404 /404.php
